<link rel="stylesheet" href="/css/page/lista.css">
{{#each listaPagina}}
<form action="/page/list/{{idPage}}" method="get">
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoDetalle.png">
        </div>
        <div id="titulo">
            <p>Lista página N° {{idPage}}</p>
        </div>
        <div id="logo">
            <div id="imagen">
                <div id="cambioImagen">
                    <img src="/img/page/{{photoPage}}" id="imagenPrevisualizacion" />
                </div>
            </div>
            <div id="Nombre">
                <input type="text" name="namePage" id="namePage" required value="{{namePage}}" readonly>
            </div>
            <div id="descripcion">
                <p>Descripción:</p>
                <textarea name="descriptionPage" id="descriptionPage" readonly>{{descriptionPage}}</textarea>
            </div>
            <div id="mision">
                <P>Misión</P>
                <textarea name="misonPage" id="misonPage" readonly>{{misonPage}}</textarea>
            </div>
            <div id="vision">
                <p>Visión:</p>
                <textarea name="visonPage" id="visonPage" readonly>{{visonPage}}</textarea>
            </div>
            <div id="celular">
                <input type="text" name="cellPhonePage" id="cellPhonePage" value="{{cellPhonePage}}" readonly>
            </div>
            <div id="correo">
                <input type="email" name="emailPage" id="emailPage" value="{{emailPage}}" readonly>
            </div>
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="boton">
                    <a href="/page/Update/{{idPage}}"><button type="button">Actualizar</button></a>
                </div>
            </div>
        </div>
    </div>

</form>
{{/each}}