<link rel="stylesheet" href="/css/page/add.css">
{{#each lista}}
<form action="/page/update/{{idPage}}" method="post" enctype="multipart/form-data">
    <div id="contenedor">
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoPagina.png">
        </div>
        <div id="imagen">
            <div id="cambioImagen">
                <img src="/img/page/{{photoPage}}" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="photoPage" id="seleccionArchivos" accept="image/*" />
            <button type="button" id="botonImagen">Imagen</button>
        </div>
        <div id="titulo">
            <p>Actualizar página</p>
        </div>
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="Nombre">
                    <input type="text" name="namePage" id="namePage" required placeholder="Nombre de la página" value="{{namePage}}">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="descripcion">
                    <textarea name="descriptionPage" id="descriptionPage" placeholder="Descripción">{{descriptionPage}}</textarea>
                </div>
            </div>
            <div id="foto3">
                <img src="/img/fondo/bode.png">
                <div id="mision">
                    <textarea name="misonPage" id="misonPage" placeholder="Misión">{{misonPage}}</textarea>
                </div>
            </div>
            <div id="foto4">
                <img src="/img/fondo/bode.png">
                <div id="vision">
                    <textarea name="visonPage" id="visonPage" placeholder="Visión">{{visonPage}}</textarea>
                </div>
            </div>
            <div id="foto5">
                <img src="/img/fondo/bode.png">
                <div id="celular">
                    <input type="text" name="cellPhonePage" id="cellPhonePage" placeholder="Celular" value="{{cellPhonePage}}">
                </div>
            </div>
            <div id="foto6">
                <img src="/img/fondo/bode.png">
                <div id="correo">
                    <input type="email" name="emailPage" id="emailPage" placeholder="Correo electrónico" value="{{emailPage}}">
                </div>
            </div>
            <div id="foto7">
                <img src="/img/fondo/bode.png">
                <div id="boton">
                    <button type="submit">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}

<script src="/js/numero.js"></script>
<script src="/js/preview.js"></script>
<script src="/js/botonImagen.js"></script>