<link rel="stylesheet" href="">
{{#each listaPagina}}
<form action="/listBase/list/{{idPage}}" method="get">
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Lista de Bases de datos</p>
        </div>
        {{#each listaPagina}}
         <div id="mas">
            <a href="/listBase/add/{{idPage}}">+</a>
        </div>
        {{/each}}
        <div id="Datos">
            <div class="row">
                {{#each lista}}
                <div id="tarjeta">
                    <div id="id">
                        <p>Número de Lista de base</p>
                        <p>{{idInitialBase}}</p>
                    </div>
                    <div id="documento">
                        <p>{{baseDoc}}</p>
                    </div>
                    {{/each}}
                    {{#each listaOperadoraMovistar}}
                    <div id="operadora">
                        <a href="/listBase/baseCosultaMovistar/{{pageIdPage}}"><button type="button">Movistar</button></a>
                    </div>
                    {{/each}}
                    {{#each listaOperadoraClaro}}
                    <div id="operadora1">
                        <a href="/listBase/baseCosultaClaro/{{pageIdPage}}"><button type="button">Claro</button></a>
                    </div>
                    {{/each}}
                    {{#each listaOperadoraCnt}}
                    <div id="operadora2">
                        <a href="/listBase/baseCosultaCnt/{{pageIdPage}}"><button type="button">Cnt</button></a>
                    </div>
                    {{/each}}
                    {{#each lista}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>