<link rel="stylesheet" href="">
{{#each lista}}
<form action="/listBase/list/{{idPage}}" method="get">
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Lista de Bases de datos</p>
        </div>
        {{#each listaPagina}}
         <div id="mas">
            <a href="/listBase/add/{{idPage}}">+</a>
        </div>
        {{/each}}
        <div id="Datos">
            <div class="row">
                {{#each lista}}
                <div id="tarjeta">
                    <div id="nombre">
                        <p>{{nameListBase}}</p>
                    </div>
                    <div id="descripcion">
                        <p>{{dateListBase}}</p>
                    </div>
                    <div id="correo">
                        <p>{{stateListBase}}</p>
                    </div>
                    <div id="actualizar">
                        <a href="/listBase/update/{{pageIdPage}}"><button type="button">Actualizar</button></a>
                    </div>
                    <div id="desavilitar">
                        <a href="/listBase/desability/{{pageIdPage}}"><button type="button">Desabilitar</button></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</form>