<link rel="stylesheet" href="/css/admin/add.css">
{{#each lista}}
<form action="/clients/update/{{idClient}}" method="post">
    {{/each}}
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{#each lista}}
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoRegsitro.png">
        </div>
        <div id="titulo">
            <h1>Cliente de la Pagina {{namePage}}</h1>
        </div>
        <div id="imagen">
            <div id="cambioImagen">
                <img src="/img/usuario/{{photoClient}}" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="photoClient" id="seleccionArchivos" accept="image/*" />
        </div>
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="nombre">
                    <p>Nombre Completo:</p>
                    <input type="text" name="completeNameClient" id="identificationCardClient" required
                        value="{{completeNameClient}}">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="cedula">
                    <p>Cedula:</p>
                    <input type="text" name="identificationCardClient" id="identificationCardClient" required
                        value="{{identificationCardClient}}">
                </div>
            </div>
            <div id="foto3">
                <img src="/img/fondo/bode.png">
                <div id="correo">
                    <p>Email:</p>
                    <input type="text" name="emailClient" id="emailClient" required value="{{emailClient}}">
                </div>
            </div>
            <div id="foto4">
                <img src="/img/fondo/bode.png">
                <div id="Celular">
                    <p>Celular:</p>
                    <input type="text" name="cellPhoneClient" id="cellPhoneClient" required value="{{cellPhoneClient}}">
                </div>
            </div>
            <div id="foto5">
                <img src="/img/fondo/bode.png">
                <div id="Usuario">
                    <p>Usuario:</p>
                    <input type="text" name="usernameClient" id="usernameClient" required value="{{usernameClient}}">
                </div>
            </div>
            <div id="foto10">
                <img src="/img/fondo/bode.png">
                <div id="Boton">
                    <button type="submit">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}
<script src="/js/preview.js"></script>
<script src="/js/estados.js"></script>
<script src="/js/numero.js"></script>