<link rel="stylesheet" href="/css/rol/lista.css">
{{#each listaPagina}}
<form action="/rol/list/{{idPage}}" method="get">
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Lista de Rol</p>
        </div>
        <div id="imagenFondo">
            <img src="/img/fondo/fondoLista.png">
        </div>
        <div id="Datos">
            <div class="row">
                {{#each lista}}
                <div id="tarjeta" class="col">
                    <div id="nombre">
                        <p>{{nameRol}}</p>
                    </div>
                    <div id="estado">
                        <p>{{stateRol}}</p>
                    </div>
                    <div id="botones">
                        <div id="actualizar">
                            <a href="/rol/update/{{idRol}}"><button type="button">Actualizar</button></a>
                        </div>
                        <div id="persios">
                            <a href="/permissions/list/{{idRol}}"><button type="button">Permisos</button></a>
                        </div>
                        <div id="desavilitar">
                            <a href="/rol/delete/{{idRol}}"><button type="button">Desabilitar</button></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{#each listaPagina}}
        <div id="mas">
            <a href="/rol/add/{{idPage}}">+</a>
        </div>
        {{/each}}
    </div>
</form>