<link rel="stylesheet" href="/css/permisos/lista.css">
{{#each listaPermisos}}
<form action="/permissions/list/{{idRol}}" method="get">
    {{/each}}
    <div id="contenedor">
        <div id="titulo">
            <p>Lista de Permisos</p>
        </div>
        <div id="imagenFondo">
            <img src="/img/fondo/fondoLista.png">
        </div>
        <div id="Datos">
            <div class="row">
                {{#each lista}}
                <div id="tarjeta" class="col">
                    <div id="nombre">
                        <p>{{namePermission}}</p>
                    </div>
                    <div id="estado">
                        <p>{{statePermission}}</p>
                    </div>
                    <div id="botones">
                        <div id="actualizar">
                            <a href="/permissions/update/{{idPermission}}"><button type="button">Actualizar</button></a>
                        </div>
                        <div id="desavilitar">
                            <a href="/permissions/delete/{{idPermission}}"><button
                                    type="button">Desabilitar</button></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{#each listaPermisos}}
        <div id="mas">
            <a href="/permissions/add/{{idRol}}">+</a>
        </div>
        {{/each}}
    </div>
</form>