<link rel="stylesheet" href="/css/admin/lista.css">
{{#each lista}}
<form action="/user/list/{{idPage}}" method="get">
    {{/each}}
    <div id="imagenFondo">
        <img src="/img/fondo/fondoLista.png">
    </div>
    <div id="titulo">
        <p>Lista de Usuarios</p>
    </div>
    <div id="contenedor">
        <div id="Datos">
            <div class="row">
                {{#each lista}}
                <div id="tarjeta" class="col">
                    <div id="foto">
                        <img src="/img/usuario/{{photoUser}}">
                    </div>
                    <div id="nombre">
                        <p>{{completeNameUser}}</p>
                    </div>
                    <div id="descripcion">
                        <p>{{identificationCardUser}}</p>
                    </div>
                    <div id="correo">
                        <p>{{emailUser}}</p>
                    </div>
                    <div id="celular">
                        <p>{{cellPhoneUser}}</p>
                    </div>
                    <div id="usuario">
                        <p>{{usernameUser}}</p>
                    </div>
                    <div id="contraseña">
                        <p>{{passwordUser}}</p>
                    </div>
                    <div id="estado">
                        <p>{{stateUser}}</p>
                    </div>
                    <div id="rol">
                        <p>{{nameRol}}</p>
                    </div>
                    <div id="permisos">
                        <p>{{namePermission}}</p>
                    </div>
                    <div id="botones">
                        <div id="actualizar">
                            <a href="/user/update/{{idUser}}"><button type="button">Actualizar</button></a>
                        </div>
                        <div id="desavilitar">
                            <a href="/user/desability/{{idUser}}"><button type="button">Despedir</button></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{#each listaPagina}}
    <div id="mas">
        <a href="/user/add/{{idPage}}">+</a>
    </div>
    {{/each}}
</form>