<link rel="stylesheet" href="/css/admin/add.css">
{{#each lista}}
<form action="/user/add/{{idPage}}" method="post" enctype="multipart/form-data">
    <div id="contenedor">
        <div id="imagenFondo">
            <img src="/img/fondo/fondoRegsitro.png">
        </div>
        <div id="titulo">
            <h1>Usuario de la Pagina {{namePage}}
        </div>
        <div id="imagen">
            <div id="cambioImagen">
                <img src="/img/usuario/{{photoUser}}" id="imagenPrevisualizacion" />
            </div>
            <input type="file" name="photoUser" id="seleccionArchivos" accept="image/*" />
            <button type="button" id="botonImagen">Imagen</button>
        </div>
        <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
        <div id="datos">
            <div id="foto1">
                <img src="/img/fondo/bode.png">
                <div id="nombre">
                    <input type="text" name="completeNameUser" placeholder="Nombre Completo:" id="completeNameUser"
                        required value="{{completeNameUser}}">
                </div>
            </div>
            <div id="foto2">
                <img src="/img/fondo/bode.png">
                <div id="cedula">
                    <input type="text" name="identificationCardUser" placeholder="Cedula:" id="identificationCardUser"
                        required {{identificationCardUser}}>
                </div>
            </div>
            <div id="foto3">
                <img src="/img/fondo/bode.png">
                <div id="correo">
                    <input type="text" name="emailUser" id="emailUser" placeholder="Correo:" value="{{emailUser}}"
                        required>
                </div>
            </div>
            <div id="foto4">
                <img src="/img/fondo/bode.png">
                <div id="Celular">
                    <input type="text" name="cellPhoneUser" id="cellPhoneUser" placeholder="Celular:"
                        value="{{cellPhoneUser}}" required>
                </div>
            </div>
            <div id="foto5">
                <img src="/img/fondo/bode.png">
                <div id="Usuario">
                    <input type="text" name="usernameUser" id="usernameUser" placeholder="Usuario:"
                        value="{{usernameUser}}" required>
                </div>
            </div>
            <div id="foto6">
                <img src="/img/fondo/bode.png">
                <div id="Contraseña">
                    <input type="password" name="passwordUser" id="passwordUser" placeholder="Contraseña:"
                        value="{{passwordUser}}" required>
                </div>
            </div>
            <div id="foto7">
                <img src="/img/fondo/bode.png">
                <div id="seleccionRol">
                    <select name="idRol" id="idRol">
                        <option value="{{idRol}}">{{nameRol}}</option>
                        {{#each ../listaRol}}
                        <option value="{{idRol}}">{{nameRol}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div id="foto8">
                <img src="/img/fondo/bode.png">
                <div id="seleccionPermisos">
                    <select name="idPermisos" id="idPermisos">
                        {{#each ../listaPermisos}}
                        <option onclick="darPermisos.permisosLista()" value="{{idPermission}}">{{namePermission}}</option>
                        {{/each}}
                        {{#each ../total}}
                        <option onclick="darPermisos.permisosLista()" value="{{idPermission}}">{{namePermission}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div id="foto10">
                <img src="/img/fondo/bode.png">
                <div id="Boton">
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{{/each}}
<script src="/js/preview.js"></script>
<script src="/js/numero.js"></script>
<script src="/js/seleccionPermisos.js"></script>
<script src="/js/botonImagen.js"></script>